/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

/* .on-off-light::after {
    content: "";
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 50%;
    background-color: red;
    margin-left: 5px;
}

body.easy-editor-on .on-off-light::after {
    background-color: green;
}

body.easy-editor-on{
    cursor: pointer;
}


.easy-editor-on #easy-editor-sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    background-color: white;
    width: 20vw;
    padding-top: 20px;
}

.easy-editor-on #easy-editor-sidebar .sidebar-header{
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: space-between;

}

.easy-editor-on #easy-editor-sidebar .sidebar-title{
    font-size: 20px;
    font-weight: 600;
} */