// .easy-editor-on * {
//     position: relative;
// }

// .easy-editor-on *:hover:not(#easy-editor-sidebar):not(#easy-editor-sidebar *):not(#wpadminbar):not(#wpadminbar *)::after {
//     content: '';
//     position: absolute;
//     top: 0;
//     right: 0;
//     bottom: 0;
//     left: 0;
//     outline: 1px solid red;
//     pointer-events: none; /* Ensure the outline does not interfere with pointer events */
// }

// .easy-editor-on .ee-highlighted,
// .easy-editor-on .ee-selected{
//     outline: 1px solid red;
// }

.easy-editor-on{
    .ee-highlighted, .ee-selected{
        outline: 1px solid $blue;
        position: relative;
    }

    .ee-selected{
        animation: shake 1s;
        animation-iteration-count: 1;
    }

    .ee-selected::after{
        content: "+ Add Task";
    position: absolute;
    top: 0;
    left: 0;
    outline: 1px solid #2036CE;
    color: white;
    background-color: #2036CE;
    border-radius: 5px;
    pointer-events: none;
    padding: 2px;
    font-size: 10px;
    transform: translate(-20%, -80%);
    width: 57px;
    @include font-style
    }

}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }