// .easy-editor-on * {
//     position: relative;
// }

// .easy-editor-on *:hover:not(#easy-editor-sidebar):not(#easy-editor-sidebar *):not(#wpadminbar):not(#wpadminbar *)::after {
//     content: '';
//     position: absolute;
//     top: 0;
//     right: 0;
//     bottom: 0;
//     left: 0;
//     outline: 1px solid red;
//     pointer-events: none; /* Ensure the outline does not interfere with pointer events */
// }

// .easy-editor-on .ee-highlighted,
// .easy-editor-on .ee-selected{
//     outline: 1px solid red;
// }

.task-label {
    display: none;
    ;
}

.easy-editor-on {

    .ee-highlighted,
    .ee-selected {
        outline: 1px solid $blue;
        position: relative;
    }

    .ee-has-task {
        outline: 1px solid $green;
        position: relative;
    }

    .ee-selected,
    .ee-has-task {
        scroll-margin-top: 10vh;
    }

    .ee-selected::after,
    .task-label {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 5px;
        pointer-events: none;
        padding: 2px;
        font-size: 12px;
        line-height: 12px;
        transform: translate(-20%, -80%);
        width: 70px;
        @include font-style
    }

    .ee-selected::after {
        content: "+ Add Task";
        outline: 1px solid $blue;
        color: white;
        background-color: $blue;
    }

    .task-label {
        display: block;
        outline: 1px solid $green;
        color: black;
        background-color: $green;
    }



    @media (min-width: 783px) {
        .ee-selected,
        .ee-has-task {
            scroll-margin-top: 100px;
        }
    }

}