.form-wrapper {
    padding: 0 15px;
}

.new-task-form {

    label {
        display: block;
        font-size: 14px;
    }

    label.inline {
        display: inline;
        margin-right: 10px;
        font-size: 12px;
    }

    textarea {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        font-family: Arial, sans-serif;
        font-size: 16px!important;//important is needed here because if font size goes below 14px iphones will zoom in on focus
        background-color: #f9f9f9;
        resize: vertical;
    }

    textarea:focus {
        border-color: #66afe9;
        /* Highlight border on focus */
        outline: none;
        /* Remove default outline */
        box-shadow: 0 0 8px rgba(102, 175, 233, 0.6);
        /* Add a subtle shadow */
    }

    input[type="file"]{
        font-size: 12px;
        font-family: arial;

    }

    .input-description {
        font-size: 11px;
        font-weight: 100;
        color: grey;
        display: block;
    }

    .error{
        color: red;
    }

    .submit-button{
        width: 100%;
        padding: 15px;
        border-radius: 10px;
        border: none;
        background: $blue;
        color: white;
        font-size: 20px;
    }

    .form-message{
        color: green;
        font-family: arial;
        font-size: 18px;
    }
}